.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #FFFFFF;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.treesvg {
  height: 300px;
  width: 200px;
}
/* #in1container {
  height: 300px;
  width: 200px;
} */


.link {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
}

.treesvg { 
  display: inline-block; 
  float: left; 
  width: 50% 
}
/* 
#in1acontainer {
  float: left;
  width: 50%;
}

#in1bcontainer {
  float: left;
  width: 50%;
} */